<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.synergyinfosys.android.myappprotector"
    android:versionCode="1"
    android:versionName="1.0"
     >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    
     <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <!-- 以下是使用blue tooth所需要的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name="net.synergyinfosys.android.myappprotector.activity.ServiceControlActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="net.synergyinfosys.android.myappprotector.service.LongLiveService"
            android:enabled="true"
            android:label="LongLiveService" >
        </service>

        <activity
            android:name="net.synergyinfosys.android.myappprotector.activity.PasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_password"
            android:launchMode="singleInstance"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
        <activity
            android:name="net.synergyinfosys.android.myappprotector.activity.HomeActivity"
            android:label="安全桌面"
            android:theme="@style/Theme"
            android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true"
			android:launchMode="singleTask"
			 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="net.synergyinfosys.android.myappprotector.activity.SwitchHomeActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- for net watcher -->
        <activity
            android:name="net.synergyinfosys.android.netwatcher.NetWatcherActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="net.synergyinfosys.android.netwatcher.WatcherService"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.synergyinfosys.android.netwatcher.WatcherService" >
                </action>
            </intent-filter>
        </service>
        <!-- 这两个receiver用于开机自动启动WatcherService -->
        <receiver
            android:name="net.synergyinfosys.android.netwatcher.receiver.MyBootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.synergyinfosys.android.netwatcher.receiver.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.synergyinfosys.android.netwatcher.receiver.AlarmReceiver" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>